body {
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    background: #6bb1c9;
    line-height: 2.5em;
    padding-left: 23px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.menu {
    padding: 15px;
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    display: inline-block;
}

.menu-item.active {
    background: #6bb1c9;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu-item {
    display: inline-block;
    text-align: center;
    padding: 12px 25px;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
		font-size: 1vw;
}

.container {
    width: 80%;
    margin-top: 20px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}

.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.block1 {
    width: 45%;
    height: 30%;
    float: left;
}
.block2 {
    width: 55%;
    height: 60%;
    float: right;
}

.block3 {
    width: 45%;
    height: 30%;
    float: left;
}

.block4 {
    width: 100%;
    height: 40%;
    clear: both;
    margin-bottom: 30px;
}



.container_circles {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.item {
    display: inline-block;
    width: 10%;
    margin: 2% 4%;
    vertical-align: top;
}

.circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    margin: 3.5% auto 3.5%;
    border: 2px solid #ccc;
}

.circle img {
    width: 100%;
    height: 100%;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.text {
    font-size: 15px;
    color: #666;
    margin-bottom: 5px;
}

.link {
    font-size: 13px;
    color: white;
    background-color: #6bb1c9;
    width: auto;
    padding: 0 10px;
    text-decoration: none;
}
.footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
}

.footer-text {
    font-weight: bold;
    display: block;
    text-align: center;
}


.club-block {
    width: 45%;
    background: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #f0f0f0;
    overflow: hidden;
    height: 500px;
}

.club-image {
    width: 35%;
    height: 100%;
    float: left;
    border-radius: 8px 0 0 8px;
}

.club-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.club-text {
    padding: 25px;
    margin-left: 35%;
}

.club-text ul {
    padding-left: 20px;
}

.club-text li {
    margin-bottom: 5px;
}

.link {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #6bb1c9;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.club-left {
    float: left;
    margin-left: 2.5%;
}

.club-right {
    float: right;
    margin-right: 2.5%;
}